@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?evlir2');
  src:  url('../fonts/icons/icomoon.eot?evlir2#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?evlir2') format('truetype'),
    url('../fonts/icons/icomoon.woff?evlir2') format('woff'),
    url('../fonts/icons/icomoon.svg?evlir2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-envelope-closed:before {
  content: "\e900";
}
.icon-arrow-long-up:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
